.form-contact {
    margin-bottom: 6rem;
}


.contact-cta {
  background: var(--gray-50);
}

/* ---- CTA BTN ---- */


 .contact-cta .btn {
  margin-top: 16px;
}

@media (max-width: 1024px) {
  .form-contact {
    margin-bottom: 0rem;
  }
}